In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
df = pd.read_csv('./full_grouped.csv')
df.tail(10)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
35146,2020-07-27,United Kingdom,301708,45844,1437,254427,688,7,3,Europe
35147,2020-07-27,Uruguay,1202,35,951,216,10,1,3,Americas
35148,2020-07-27,Uzbekistan,21209,121,11674,9414,678,5,569,Europe
35149,2020-07-27,Venezuela,15988,146,9959,5883,525,4,213,Americas
35150,2020-07-27,Vietnam,431,0,365,66,11,0,0,Western Pacific
35151,2020-07-27,West Bank and Gaza,10621,78,3752,6791,152,2,0,Eastern Mediterranean
35152,2020-07-27,Western Sahara,10,1,8,1,0,0,0,Africa
35153,2020-07-27,Yemen,1691,483,833,375,10,4,36,Eastern Mediterranean
35154,2020-07-27,Zambia,4552,140,2815,1597,71,1,465,Africa
35155,2020-07-27,Zimbabwe,2704,36,542,2126,192,2,24,Africa

In [15]:
df.iloc[-99]

Date                         2020-07-27
Country/Region                   Jordan
Confirmed                          1176
Deaths                               11
Recovered                          1041
Active                              124
New cases                             8
New deaths                            0
New recovered                         0
WHO Region        Eastern Mediterranean
Name: 35057, dtype: object

In [18]:
all_recovered = df['Recovered']

In [19]:
all_recovered.tail(10).mean()

3233.6

In [22]:
df[['Country/Region','New cases','New deaths']].tail(10)

           Country/Region  New cases  New deaths
35146      United Kingdom        688           7
35147             Uruguay         10           1
35148          Uzbekistan        678           5
35149           Venezuela        525           4
35150             Vietnam         11           0
35151  West Bank and Gaza        152           2
35152      Western Sahara          0           0
35153               Yemen         10           4
35154              Zambia         71           1
35155            Zimbabwe        192           2

In [23]:
df.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
count,3.515600e+04,35156.000000,3.515600e+04,3.515600e+04,35156.00000,35156.000000,35156.000000
mean,2.356663e+04,1234.068239,1.104813e+04,1.128443e+04,469.36375,18.603339,269.315593
std,1.499818e+05,7437.238354,6.454640e+04,8.997149e+04,3005.86754,115.706351,2068.063852
min,0.000000e+00,0.000000,0.000000e+00,-2.000000e+00,0.00000,-1918.000000,-16298.000000
25%,1.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.00000,0.000000,0.000000
50%,2.500000e+02,4.000000,3.300000e+01,8.500000e+01,2.00000,0.000000,0.000000
75%,3.640250e+03,78.250000,1.286250e+03,1.454000e+03,75.00000,1.000000,20.000000
max,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06,77255.00000,3887.000000,140050.000000

In [30]:
df[['Date','Country/Region','New cases']].sort_values('New cases', ascending=False)

             Date            Country/Region  New cases
33085  2020-07-16                        US      77255
34581  2020-07-24                        US      73715
33272  2020-07-17                        US      71558
34207  2020-07-22                        US      70910
34394  2020-07-23                        US      68695
...           ...                       ...        ...
19855  2020-05-07  Central African Republic          0
5363   2020-02-19                      Oman          0
19852  2020-05-07                  Cambodia          0
19850  2020-05-07                   Burundi          0
0      2020-01-22               Afghanistan          0

[35156 rows x 3 columns]

In [28]:
df.keys()

Index(['Date', 'Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'WHO Region'],
      dtype='object')

In [34]:
# df(where Country/Region == 'Jordan')
jordan_data = df[ df['Country/Region'] == 'Jordan' ]

In [35]:
jordan_data.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered
count,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000
mean,495.446809,5.537234,361.941489,127.968085,6.840426,0.058511,5.537234
std,434.626599,4.294468,363.058078,97.457239,7.888668,0.277078,12.538441
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-89.000000
25%,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,442.500000,7.000000,329.000000,136.500000,4.000000,0.000000,3.000000
75%,869.750000,9.000000,664.750000,209.500000,11.000000,0.000000,8.000000
max,1223.000000,11.000000,1041.000000,295.000000,40.000000,2.000000,107.000000

In [36]:
jordan_data.tail(10)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
33374,2020-07-18,Jordan,1214,11,1022,181,5,1,1,Eastern Mediterranean
33561,2020-07-19,Jordan,1218,11,1024,183,4,0,2,Eastern Mediterranean
33748,2020-07-20,Jordan,1223,11,1028,184,5,0,4,Eastern Mediterranean
33935,2020-07-21,Jordan,1113,11,1034,68,0,0,6,Eastern Mediterranean
34122,2020-07-22,Jordan,1120,11,1035,74,7,0,1,Eastern Mediterranean
34309,2020-07-23,Jordan,1131,11,1035,85,11,0,0,Eastern Mediterranean
34496,2020-07-24,Jordan,1146,11,1035,100,15,0,0,Eastern Mediterranean
34683,2020-07-25,Jordan,1154,11,1036,107,8,0,1,Eastern Mediterranean
34870,2020-07-26,Jordan,1168,11,1041,116,14,0,5,Eastern Mediterranean
35057,2020-07-27,Jordan,1176,11,1041,124,8,0,0,Eastern Mediterranean

## What are the biggest 5 days in jordan in terms of new cases?

In [39]:
jordan_data.sort_values('New cases', ascending=False).head(5)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
12056,2020-03-26,Jordan,212,0,1,211,40,0,0,Eastern Mediterranean
26829,2020-06-13,Jordan,953,9,678,266,38,0,7,Eastern Mediterranean
11308,2020-03-22,Jordan,112,0,1,111,27,0,0,Eastern Mediterranean
26455,2020-06-11,Jordan,890,9,670,211,27,0,7,Eastern Mediterranean
11682,2020-03-24,Jordan,154,0,1,153,27,0,0,Eastern Mediterranean

### All days in Jordan where new cases > 20, show only Date, New cases, and Recovered columns

In [46]:
jordan_data[df['New cases']>20][['Date','New cases','Recovered']]

             Date  New cases  Recovered
11308  2020-03-22         27          1
11682  2020-03-24         27          1
12056  2020-03-26         40          1
12243  2020-03-27         23         18
13365  2020-04-02         21         45
13926  2020-04-05         22        110
19910  2020-05-07         21        381
20658  2020-05-11         22        390
22341  2020-05-20         23        446
25894  2020-06-08         23        627
26455  2020-06-11         27        670
26642  2020-06-12         25        671
26829  2020-06-13         38        678
28886  2020-06-24         24        782

In [47]:
jordan_data[df['New cases']>20][['Date','New cases','Recovered']].mean()

New cases     25.928571
Recovered    344.357143
dtype: float64

In [55]:
df.groupby('Country/Region').max()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
Country/Region,,,,,,,,,
Afghanistan,2020-07-27,36263,1269,25198,20311,915,46,1930,Eastern Mediterranean
Albania,2020-07-27,4880,144,2745,1991,126,6,85,Europe
Algeria,2020-07-27,27973,1163,18837,8114,675,30,749,Africa
Andorra,2020-07-27,907,52,803,504,79,4,57,Europe
Angola,2020-07-27,950,41,242,667,62,4,75,Africa
...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,2020-07-27,10621,78,3752,7382,501,7,770,Eastern Mediterranean
Western Sahara,2020-07-27,10,1,8,6,4,1,5,Africa
Yemen,2020-07-27,1691,483,833,580,116,52,180,Eastern Mediterranean
Zambia,2020-07-27,4552,140,2815,2236,915,67,465,Africa
Zimbabwe,2020-07-27,2704,36,542,2126,273,5,114,Africa

In [60]:
jordan_data.describe()['Deaths']['mean']

5.537234042553192

In [61]:
jordan_data.describe()['Deaths']['std']

4.29446812535505